@font-face {
    font-family: 'Soda-Sans';
    src: url('../fonts/sodo-sans-8.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --purple: #1f1b3a; /* Dark purple */
    --blue: #3498db; /* Blue */
    --orange: #f39c12; /* Vibrant orange */
    --lightpurple: #6A37FF;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Soda-Sans';
    display: grid;
    grid-template-areas: 
        "navbar navbar navbar"
        "sidebar new new"
        "sidebar new new";
        grid-template-columns: 0.5fr 1fr 1fr; 
        grid-template-rows:   0.25fr auto auto;
        min-height: 100vh;
    
}

.main-container{
    display: none;
    grid-area: main;
    flex-direction: column;
    justify-content: center;
    min-height: 80%;
}

.main-logo{
    padding-left: 100px;
    margin-bottom: 20px;
}

.heading{
    padding-left: 100px;
    margin-bottom: 10px;
    font-size: 30px;
    color: var(--lightpurple);
}

.question{
    padding-left: 100px;
}

.question p{
    max-width: 60%;
    font-size: 18px;
    margin-bottom: 10px;
}

main-container form{
    padding-top: 20px;
}

main-container legend{
    margin-bottom: 10px;
}

.main-container input{
    width: 80%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
}

.main-container button{
    margin-top: 30px;
    width: 80%;
    padding: 20px;
    color: white;
    background-color: var(--purple);
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* Navbar Section CSS */

.navbar-container{
    position: relative;
    z-index: 1000;
    grid-area: navbar;
    display: grid;
    grid-template-areas: 
    "left left right";
    grid-template-columns: auto auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #1f1b3a;
    padding: 30px;
}

.navbar-container .navbar-left{
    grid-area: left;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.navbar-container .navbar-right{
    grid-area: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}

.nav-links, .nav-links2{
    list-style-type: none;
    display: flex;
}

.nav-links a, .nav-links2 a{
    color: white;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.2 ease;
}

.nav-links2 a{
    text-transform: capitalize;
}


.button{
    display: inline-block;
    border: 2px solid var(--lightpurple);
    border-radius: 50px;
    transition: all 0.3 ease;
    
}

.button a{
    text-transform: capitalize;
}

.login{
    background-color: var(--lightpurple);
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.sign-up{
    margin-left: 15px;
}

.nav-links a:hover, .user a:hover {
    transform: translateY(-1px); 
    background-color: var(--accent-color);
    border-radius: 50px;
}

.user a{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user a i{
    margin-right: 5px;
}
/* Sidebar Section CSS */

.sidebar-section{
    position: relative;
    grid-area: sidebar;
    background-color: #1f1b3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    z-index: 500;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.sidebar-section h1{
    color: #6A37FF;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-shadow:rgba(0, 0, 0, 0.6);
    margin-top: -10px;
}

.sidebar-section p{
    color: #fff;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    font-size: 1rem;
}

.sidebar-section .note{
    padding: 1.4rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ededef;
    font-size: 0.9rem;
}

.progress-tracker {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    padding-left: 20px; /* Space for progress bar */
}

.progress-tracker::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    z-index: 0;
    border-radius: 2px;
}

.progress-tracker li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 20px;
    z-index: 1;
    color: #fff; /* Adjust for readability */
}

.progress-tracker li.completed::before {
    content: '';
    position: absolute;
    left: -16.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background: var(--lightpurple);
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--lightpurple);
    z-index: 2;
}

.progress-tracker li.pending::before {
    content: '';
    position: absolute;
    left: -16.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background: #ddd;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #ddd;
    z-index: 2;
}

.header-container{
    grid-area: heading;
}

.header-container h1{
    text-align: center;
    padding: 30px;
}


/* saved-trip container */

.saved-trip-container{
    display: none;
    grid-area: trip;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px 
}
.trip-container {
    grid-area: trip;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.subheading-container {
    display: flex;
    justify-content: flex-start;
    padding: 60px;
    padding-left: 0;
}

.subheading-container h2 {
    font-size: 2.3em;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--lightpurple);
    color: var(--purple);
    margin-top: -10px;
}

.buttons-container {
    display: flex;
    margin-top: -25px;
    width: 100%;
    gap: 20px;
}

.buttons-container button {
    font-family: 'Soda-Sans';
    border: none;
    width: auto;
    padding: 30px;
    border-radius: 10px;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 20px;
    flex: 1;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons-container button:hover {
    border-color: #000;
}

.add-new {
    margin-right: 20px;
}

.icon {
    font-size: 25px;
}

.trip-list {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.trip-card {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 200px; /* Control the height to achieve the rectangle shape */
    margin-top: 20px;
    overflow: hidden;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
}

.trip-image {
    border-right: 2px solid var(--lightpurple);
    width: 40%;
}

.trip-image img {
    width: 100%; /* Image takes half the card width */
    height: 100%; /* Ensure image covers the full height */
    object-fit: cover; /* Ensures no distortion */
}

.trip-content {
    margin-left: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto; 
}

.trip-content h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.trip-content p {
    margin: 5px 0;
    color: #555;
    font-size: 1rem;
}

.trip-content a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.trip-content a:hover {
    text-decoration: underline;
}

.trip-content ion-icon{
    font-size: 30px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the gap as needed */
}

.center-content span {
    display: flex;
    align-items: center;
}

.text {
    font-weight: bold;
    margin-left: 9px; /* Adjust the margin as needed */
}

.text1{
    font-weight: bold;
    margin-left: 4px;
}

.icon-stuff {
    text-align: center;
}

.trip-card-options{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 15px;
}

.option-icon{
    font-size: 25px;
}

.option-icon:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}
/* New Trip Section CSS */

.new-trip-container{
    grid-area: new;
    background-color: #1f1b3a;; 
    display: grid;
    grid-template-areas: 
    "header header"
    "try save";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.35fr 1fr;
    
    
    
}
.trip-heading{
    position: relative;
    grid-area: header;
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
    z-index: 250;
    box-shadow: 0 16px 32px 6px rgba(0, 0, 0, 0.5);
    background-color: #fff;

}

.new-trip-container h2{
    font-size: 2.5rem; 
    font-weight: bold;
    margin-bottom: 30px; 
    color: var(--purple);
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
    
}

.new-trip-container h2:after{
    content: '';
    width: 200px;
    height: 4px;
    background-color: #6A37FF;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}


.trip-heading p {
    text-align: center; 
    padding: 20px;
    font-size: 1.2rem; 
    line-height: 1.8; 
    color: #000; 
    margin: 0 auto;
    max-width: 90%; 
    padding-top: 0;
}

.trip-button {
    grid-area: try;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../images/81qip2t9RpL.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    border-top: 4px solid var(--lightpurple);
    background-attachment: scroll; 
    background-position: center center;
}

.new-trip-container button{
    font-family: 'Soda-Sans';
    color: #fff;
    font-weight: bold;
    border: 3px solid  var(--lightpurple);;;
    background-color: transparent;
    transition: all 0.3s ease;
    padding: 15px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-trip-container .icon{
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
}

.new-trip-container span{
    font-size: 20px;
    text-transform: uppercase;
}

.new-trip-container button:hover {
    transform: scale(1.05); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); 
}

.new-trip-container button:active{
    transform: scale(0.98); 
}

.saved-button{
    position: relative;
    grid-area: save;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),url('../images/christ-the-redeemer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    border-top: 4px solid var(--lightpurple);
    background-attachment: scroll; 

}

.trip-button:hover, .saved-button:hover {
    background-size: 200%;
    transition: background-size 0.5s ease-in-out;
}

.trip-heading {
    position: relative;
}

.trip-heading::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background: var(--accent-color); /* Use the accent color */
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}





/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--purple);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 50%;
    text-align: center;
}

.modal-content {
    text-align: center;
}

.modal .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--lightpurple);
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.modal .close-button:hover {
    background: var(--blue);
}

.modal button {
    margin-top: 20px;
    padding: 10px 20px;
    background: var(--orange);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.modal button:hover {
    background: var(--blue);
}

.hidden {
    display: none;
}

