@font-face {
    font-family: 'Soda-Sans';
    src: url('../fonts/sodo-sans-8.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --purple: #1f1b3a; /* Dark purple */
    --blue: #3498db; /* Blue */
    --orange: #f39c12; /* Vibrant orange */
    --lightpurple: #6A37FF;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Soda-Sans';
    display: grid;
    grid-template-areas: 
        "navbar navbar navbar"
        "sidebar new new"
        "sidebar new new";
        grid-template-columns: 0.5fr 1fr 1fr; 
        grid-template-rows:   0.25fr auto auto;
        min-height: 100vh;
    
}

/* Navbar Section CSS */

.navbar-container{
    position: relative;
    z-index: 1000;
    grid-area: navbar;
    display: grid;
    grid-template-areas: 
    "left left right";
    grid-template-columns: auto auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #1f1b3a;
    padding: 30px;
}

.navbar-container .navbar-left{
    grid-area: left;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.navbar-container .navbar-right{
    grid-area: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}

.nav-links, .nav-links2{
    list-style-type: none;
    display: flex;
}

.nav-links a, .nav-links2 a{
    color: white;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.2 ease;
}

.nav-links2 a{
    text-transform: capitalize;
}

.navbar-left img {
    max-height: 50px; 
    width: auto; 
    margin-right: 10px;
}

.button{
    display: inline-block;
    border: 2px solid var(--lightpurple);
    border-radius: 50px;
    transition: all 0.3 ease;
    
}

.button a{
    text-transform: capitalize;
}

.login{
    background-color: var(--lightpurple);
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.sign-up{
    margin-left: 15px;
}

.nav-links a:hover, .user a:hover {
    transform: translateY(-1px); 
    background-color: var(--accent-color);
    border-radius: 50px;
}

.navbar-left .nav-links a:hover, .user a:hover{
    color: #6A37FF;
}

.user a{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user a i{
    margin-right: 5px;
}
/* Sidebar Section CSS */

.sidebar-section{
    position: relative;
    grid-area: sidebar;
    background-color: #1f1b3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    z-index: 500;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.sidebar-section h1{
    color: #6A37FF;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-shadow:rgba(0, 0, 0, 0.6);
    margin-top: -10px;
}

.sidebar-section p{
    color: #fff;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    font-size: 1rem;
}

.sidebar-section .note{
    padding: 1.4rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ededef;
    font-size: 0.9rem;
}

/* New Trip Section CSS */

.new-trip-container{
    grid-area: new;
    background-color: #1f1b3a;; 
    display: grid;
    grid-template-areas: 
    "header header"
    "try save";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.35fr 1fr;
    
    
    
}
.trip-heading{
    position: relative;
    grid-area: header;
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
    z-index: 250;
    box-shadow: 0 16px 32px 6px rgba(0, 0, 0, 0.5);
    background-color: #fff;

}

.new-trip-container h2{
    font-size: 2.5rem; 
    font-weight: bold;
    margin-bottom: 30px; 
    color: var(--purple);
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
    
}

.new-trip-container h2:after{
    content: '';
    width: 200px;
    height: 4px;
    background-color: #6A37FF;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}


.trip-heading p {
    text-align: center; 
    padding: 20px;
    font-size: 1.2rem; 
    line-height: 1.8; 
    color: #000; 
    margin: 0 auto;
    max-width: 90%; 
    padding-top: 0;
}

.trip-button {
    grid-area: try;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../images/81qip2t9RpL.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    border-top: 4px solid var(--lightpurple);
    background-attachment: scroll; 
    background-position: center center;
}

.new-trip-container button{
    font-family: 'Soda-Sans';
    color: #fff;
    font-weight: bold;
    border: 3px solid  var(--lightpurple);;;
    background-color: transparent;
    transition: all 0.3s ease;
    padding: 15px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-trip-container .icon{
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
}

.new-trip-container span{
    font-size: 20px;
    text-transform: uppercase;
}

.new-trip-container button:hover {
    transform: scale(1.05); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); 
}

.new-trip-container button:active{
    transform: scale(0.98); 
}

.saved-button{
    position: relative;
    grid-area: save;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),url('../images/christ-the-redeemer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    border-top: 4px solid var(--lightpurple);
    background-attachment: scroll; 

}

.trip-button:hover, .saved-button:hover {
    background-size: 200%;
    transition: background-size 0.5s ease-in-out;
}

.trip-heading {
    position: relative;
}

.trip-heading::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background: var(--accent-color); /* Use the accent color */
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}



@media screen and (max-width: 768px) {
    body {
        grid-template-areas: 
            "navbar"
            "sidebar"
            "new";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
    }

    .navbar-container {
        padding: 15px;
    }

    .navbar-container .navbar-left,
    .navbar-container .navbar-right {
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-links, .nav-links2 {
        flex-direction: row;
        align-items: center;
    }

    .nav-links a, .nav-links2 a {
        padding: 0.5rem 1rem;
    }

    .button {
        margin: 10px 0;
    }

    .sign-up {
        margin-left: 0;
    }

    .sidebar-section {
        padding: 1.5rem;
    }

    .new-trip-container {
        grid-template-areas: 
            "header"
            "try"
            "save";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr;
    }

    .trip-heading {
        display: none;
    }



    .new-trip-container button {
        width: 80%;
    }

    .new-trip-container .icon {
        font-size: 24px;
        margin-left: 10px;
    }

    .new-trip-container span {
        font-size: 16px;
    }
}